@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src:
    local("Inter"),
    url("./assets/fonts/Inter/web/Inter-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400 500;
}

@font-face {
  font-family: "Inter";
  src:
    local("Inter-Italic"),
    url("./assets/fonts/Inter/web/Inter-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400 500;
}

@font-face {
  font-family: "Inter";
  src:
    local("Inter-Bold"),
    url("./assets/fonts/Inter/web/Inter-Bold.woff2") format("woff2");
  font-style: bold;
  font-weight: 700 900;
}

@font-face {
  font-family: "Inter";
  src:
    local("Inter-Thin"),
    url("./assets/fonts/Inter/web/Inter-Thin.woff2") format("woff2");
  font-style: thin;
  font-weight: 100 300;
}

/* * { */
/*   outline: 1px solid red; */
/* } */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffb5;
  background-color: #1f2335;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --glow-color: #7aa2f728;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: hsl(177, 26%, 83%);
  border-radius: 100vw;
  margin-block: 0.1rem;
  background: #1f2335;
}

::-webkit-scrollbar-thumb {
  width: 0.4rem;
  height: 0.5rem;
  background: #1f2335;
}

::-webkit-scrollbar-thumb:hover {
  background: #737aa2;
}

#projects-edit-content::-webkit-scrollbar {
  /* width: 0.5rem; */
  height: 0.5rem;
}

#projects-edit-content::-webkit-scrollbar-track {
  background: hsl(177, 26%, 83%);
  border-radius: 100vw;
  margin-block: 0.1rem;
  background: #1f3337;
}

#projects-edit-content::-webkit-scrollbar-thumb {
  width: 0.4rem;
  height: 0.5rem;
  background: #737aa2;
}

#projects-edit-content::-webkit-scrollbar-thumb:hover {
  background: #9ba2cc;
}

html {
  overflow-y: scroll;
}

a {
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.tox.tox-tinymce {
  height: unset !important;
  flex-grow: 1 !important;
}

.tox
  .tox-statusbar__text-container.tox-statusbar__text-container-3-cols
  > .tox-statusbar__help-text,
.tox
  .tox-statusbar__text-container.tox-statusbar__text-container-3-cols
  > .tox-statusbar__path,
.tox
  .tox-statusbar__text-container.tox-statusbar__text-container-3-cols
  > .tox-statusbar__right-container {
  flex: 1 !important;
}

.project-description p {
  overflow-wrap: anywhere;

  @media screen and (min-width: 768px) and (max-width: 1290px) {
    font-size: 0.9rem;
    line-height: 1.475;
  }
}

.occupation-list p {
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 1rem;
  line-height: 1.4;

  @media screen and (max-width: 600px) {
    font-size: 0.85rem;
  }
}

.occupation-list ul {
  list-style: circle;
  padding-left: 1.25rem;
  font-size: 1rem;
  line-height: 1.5rem;

  @media screen and (max-width: 600px) {
    font-size: 0.8rem;
    line-height: 1.4;
  }
}

.occupation-list ul li {
  @media screen and (max-width: 600px) {
    margin-bottom: 0.5rem;
  }
}

.courses-list p {
  line-height: 1.3;

  @media screen and (max-width: 600px) {
    font-size: 0.85rem;
  }
}

.animated-gradient-link {
  @apply text-tokyo-15-500 transition-all duration-300 bg-[length:400%_150%] 
            bg-gradient-to-r from-[#ffffff05] to-[#ffffff95] 
            animate-[gradientMove_5s_ease_infinite]
            bg-clip-text from-tokyo-15-500 via-tokyo-12-500 to-tokyo-21-500 transition-all 
            duration-500 bg-clip-text text-transparent;
}

.animated-gradient:hover {
  @apply text-tokyo-15-500 transition-all duration-300 bg-right bg-[length:400%_200%] 
            bg-gradient-to-r from-[#ffffff05] to-[#ffffff95] 
            animate-[gradientMove_3s_ease_infinite] stroke-1
            bg-clip-text from-tokyo-15-500 via-tokyo-12-500 to-tokyo-21-500 transition-all 
            duration-500 bg-clip-text text-transparent;
}
